body {
  font-family: 'Times New Roman', Times, serif;
}

.cat {
  float: center;
  width: 50%;
  display: block;
  margin: auto;
  padding:20px;
  border:black;
  border-width: 5px;
  background-color: purple;
  box-sizing: border-box;
}

.pup {
  float: center;
  width: 50%;
  display: block;
  margin: auto;
  padding: 25px;
  border: dashed hotpink;
  border-width: 5px;
  background-color: lightgoldenrodyellow;
  box-sizing: border-box;
}

.centered-image {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}